KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=yellow_taxi_trips

RAW_TAXI_PARQUET=/app/data/raw/yellow_tripdata_2023-01.parquet
TAXI_ZONE_LOOKUP=/app/data/lookup/taxi_zone_lookup.csv

DELTA_BRONZE_PATH=/app/data/delta/bronze/yellow_taxi_trips
DELTA_SILVER_PATH=/app/data/delta/silver/yellow_taxi_trips
DELTA_GOLD_PATH=/app/data/delta/gold/fare_features

PRODUCER_MAX_ROWS=10000
PRODUCER_BATCH_SIZE=500
PRODUCER_SLEEP_SECONDS=0.2
PRODUCER_KEY_FIELD=PULocationID
PRODUCER_DRY_RUN=false
LOG_LEVEL=INFO

MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_EXPERIMENT_NAME=nyc-yellow-taxi-fare-prediction
